/**************************************
   1310metric Stylesheet customization
***************************************/
/* Custom Fonts */
@font-face {
		font-family: 'Conv_1310metric-Regular';
		src: url('fonts/1310metric-Regular.eot');
		src: local('☺'), url('fonts/1310metric-Regular.woff') format('woff'), url('fonts/1310metric-Regular.ttf') format('truetype'), url('fonts/1310metric-Regular.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
/* Logo */

	.logo
	{
		font-family:'Conv_1310metric-Regular',Sans-Serif;
		padding:5px;
	}

/* Global Styles */



/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #000000;
  padding: 20px 0;
}

.call-to-action .btn {
  margin: 10px;
}


#tools { position: absolute; top: 0; right: 0; background: #353437; width: 60px; height: 25px; border: 1px solid #464548; border-top: none; text-align: center; line-height: 23px; }
#tools a { font: bold 12px Helvetica, Arial, sans-serif; color: #999999; text-transform: uppercase; text-shadow: 1px 1px 0px rgba(0,0,0,0.3);text-decoration:none;  }


#tools a:hover  { color: #FFF;}
#tools a.active { color: #FFF; }



